@import "main.scss";

// 按钮
.videoBtn{
    width:10.0rem;
    text-align:center;
    color:#fff;
    font-size:0.65rem;
    border-radius:0.25rem;
    position:fixed;
    bottom:2.5rem;
    left:0;
    right:0;
    margin:auto;
    button{
        width:100%;
        height:1.7rem;
        background:#1fb8ff;
        color:#fff;

    }


}
// 表单提交
.for{
    padding:0.5rem 0.6rem 0;

    .inp{
        @include flexBox;
        font-size:0.7rem;
        color:#444444;
        margin-top:0.75rem;
        .left{
            width:20%;
            text-align:center;
            line-height:1.5rem;
        }
        .right{
            @include flex(1);
            input{
                width:100%;
                outline:none;
                padding:0.3rem;
                box-sizing:border-box;
                border:0.05rem solid #e6e6e6;
                border-radius:0.25rem;
            }
            textarea{
                width:100%;
                outline:none;
                padding:0.3rem;
                box-sizing:border-box;
                border:0.05rem solid #e6e6e6;
                border-radius:0.25rem;
                resize : none;
                height:5.0rem;
            }
        }
    }
    .inp1{
        height:8.0rem;
        position:relative;
        box-sizing:border-box;
        margin:0.75rem 3% 0;
        border:0.05rem solid #e6e6e6;
        border-radius:0.25rem;
        input{
            width: 100%;
            height: 100%;
            filter: alpha(opacity=0);
            opacity: 0;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 10;
        }
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border: 0;
            border-radius: 5px;
        }
    }
}